*.ipynb_checkpoints*
logs/
facial-recognition/architecture-FaceNet/facenet_keras.h5
facial-recognition/dlib-tensorflow-pipeline/output/
facial-recognition/dlib-tensorflow-pipeline/source/shape_predictor_68_face_landmarks.dat
Keras MNIST/logs/
Keras Unsupervised/results/
Keras MNIST/Keras MNIST Recognition.Transfer.2.Model.Best.hdf5
Audio/Classification/Data/
.idea/
Video/Tom and Jerry 3.mp4
Crowd Counting/CSRNet/__pycache__/
Crowd Counting/CSRNet/ShanghaiTechDataSet/
object-detection/mask_rcnn_coco.h5
object-detection/model.h5
object-detection/yolov3.weights
object-detection/kangaroo_cfg20190708T1045/events.out.tfevents.1562575522.LT-107232
object-detection/kangaroo_cfg*
